node_modules
dist
uploads
.vscode
design
coverage
.env
.env.*
!.env.example

.git
.gitignore
.husky
.github

*.log
npm-debug.log*
.DS_Store
*.swp
*.swo

.prettierignore
.prettierrc.json
eslint.config.js
