// http://paletton.com/#uid=53m0u0kp+TueCX1kHVdvEQNMjGg
$PRIMARY: #30c9e8;
$SECONDARY: #00D72F;
$ERROR: #FF4430;
$TEXT_SHADOW: 0 0 5px rgba(0, 0, 0, 0.25);
$PLACEHOLDER_COLOR: rgba(0,0,0, 0.25);

::-webkit-input-placeholder {
   color: $PLACEHOLDER_COLOR;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $PLACEHOLDER_COLOR;
}

:-ms-input-placeholder {
   color: $PLACEHOLDER_COLOR;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: $PRIMARY;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 2em;
  border: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: $TEXT_SHADOW;
}

a {
    color: inherit;
}

button {
    $border: 0.1em solid darken($SECONDARY, 10%);
    color: white;
    background-color: $SECONDARY;
    font-weight: bold;
    border: 0;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    cursor: pointer;
    font-size: 1.5em;
    border-top: $border;
    border-top-color: $SECONDARY;
    border-bottom: $border;
    outline: none;
    text-shadow: $TEXT_SHADOW;

    &:active {
        $background-color: darken($SECONDARY, 5%);
        background-color: $background-color;
        border-top: $border;
        border-bottom-color: $background-color;
    }
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    transition: 0.5s border-color;

    &.error {
        $placeholder-color: rgba($ERROR, 0.5);
        border-bottom-color: $ERROR;

        &::-webkit-input-placeholder {
           color: $placeholder-color;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: $placeholder-color;
        }

        &:-ms-input-placeholder {
           color: $placeholder-color;
        }
    }
}

header {
    h1 {
        margin: 0;
    }

    .tagline {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    .pricing-details {
        opacity: 0.8;
        margin: 0.5em 0;
    }

    .upload {
        input[type=file] {
            display: none;
        }
    }
}

footer {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.75;
    margin: 1em 0;
}

#drop-mask {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba($PRIMARY, 0.5);
    z-index: 1000;
    font-size: 2em;
    font-weight: bold;
    border: 15px dashed rgba(255,255,255, 0.75);
    text-shadow: 0 0 25px black;
}

body.dz-drag-hover #drop-mask {
    display: flex;
}

#envelope {
    color: gray;
    text-shadow: none;
    background-color: #fdfaf0;
    padding: 1em 2em 4em;
    box-shadow: 2px 2px 1px rgba(0,0,0, 0.25);
    border: 1px solid rgba(255,255,255, 0.5);
    position: relative;
    transform: translate3d(0, 100%, 0); // prevent "flash" before animate.css loads

    .stamp {
        float: right;
        height: 200px;
        transform: rotate(2deg);
    }

    .address {
        $width: 33%;
        width: $width;
        margin: 2em;

        &.to {
            margin-left: calc(50% - #{$width / 2});
        }

        + .address {
            margin-top: 3em;
        }

        h2 {
            text-transform: capitalize;

            .fa {
                $border: 0.23em solid;
                margin-left: 0.25em;
                opacity: 0.5;

                &.from {
                    border-left: $border;
                }

                &.to {
                    border-right: $border;
                    letter-spacing: -0.05em;
                }
            }
        }

        input {
            display: block;
            font-size: 1.5em;
            width: 100%;
            padding: 0.25em;
        }

        .third-line {
            display: flex;

            input {
                width: 30px;
                flex-grow: 1;

                &[name=state] {
                    flex-grow: 0.25;
                }

                &[name=zip] {
                    flex-grow: 0.5;
                }
            }
        }
    }
}

#pay-and-send {
    margin: 2em 0;
    text-align: center;

    button {
        .fa {
            margin-left: 0.2em;
        }
    }

    .total {
        .price {
            font-size: 1.5em;
        }
    }

    .additions {
        margin: 1em 0;

        input {
            margin-right: 0.5em;
        }

        label {
            display: inline-block;
            padding: 0.25em 0.5em;

            .price {
                opacity: 0.75;
            }
        }
    }
}
